/**/
html {
	width: 100vw;
	height: 100vh;
}
/*.tm-header{
	/*position: sticky;*/
	/*z-index: 2;*/
	/*top: 0;*/
	/*max-width: 1600px;*/
	/*margin: 0 auto;*/
	/*padding: 70px;*/
	/*padding: 70px;*/
}*/
.logo1{
	width: 50px;
	cursor: pointer;
}

.tm-container1{
	max-width: 900px;
	margin: 0 auto;
	height: 40px;
	top: 0;
}
body{
	overflow-x: hidden;
	background: #3f403f;
	padding: 0px;
	width: 100%;
	/*height: 100%;
	margin: 0;
	padding: 0;*/
}

main{
	min-height: calc(100vh - 40px - 54px);
}
hr{
	border: 0;
	border-top: 4px solid yellow;
	margin: 20px 0;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	display: block;
	unicode-bidi: isolate;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: auto;
	margin-inline-end: auto;
}
.container{
	position: relative;
	background-color: #565656;

}
.container2{
	/*position: absolute;*/
}
.dav{
	padding: 0 auto;
	/*height: 40%;*/

}
.dav-item{
	justify-content:center;
	display: flex;
	width: 40%;
	margin: 0 auto;
	height: 420px;

}
.sudoku{
  margin-right:20px;
  width: 100%;
  height: 100%;
}

.image-container {
	position: relative;
  width: 40%;
  height: 100%;

  
}

.container{
	position: relative;
	background-color: #565656	;
}
.small{
	position: absolute;
	content: '';
	display: block;
	height: 40%;
	width: 40%;
	border-radius: 50%;
	z-index: 20;
	bottom: -70px;
}

/*.image-container {
	position: absolute;
	content: '';
	display: block;
	height: 40%;
	width: 40%;
	border-radius: 50%;
	bottom: -40px;
	left: -21px;
/*	background: url(../images/small1.jpg);*/
	/*background-repeat: no-repeat;
	background-position: center;*/
	/*z-index: 20;*/

}*/

.themes{
	width: 60%;
}

.serviceyellow{
	color: yellow;
	font-size: 25px;
}
.available{
	margin-left: 15px;
	color: white;
	font-size: 28px;
}
.servicewhite{
	color: white;
	font-size: 28px;
}
.made{
	color: white;
	font-size: 18px;
}
.maden{
	color: white;
	font-size: 18px;
}
.photo1{
	display: flex;
	justify-content: center;
}
.lastes{
	margin: 100px;
	/*width: 1000px;*/
	color: white;
	font-size: 20px;
}
.foot{
	display: flex;
	justify-content: center;
	color: white;
	width: 30%;
	height: 50%;
	margin: auto;
	position: relative;
    /*margin: -2em auto 0 auto;*/
    /*padding-left: 10px;
    line-height: 2em;
    font-size: 0.85em;*/
}

.feet{
	padding:0 5px;
	width: 60%;
	font-size: 14px;
   background: grey;
   border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: right;


}

.serviceoffice{
	margin-left: 15px;
}
.made{
	margin-left: 15px;
}
.maden{
	margin-left: 15px;
}

body{
	@media (min-width: 62em){
		display: flex;
	}
}

main{
	@media (min-width: 62em){
		flex: 1 0;
	}
}
@media only screen and(max-width: 634px) {
	width: 100%;
	height: 100%;
}