html {
	width: 100vw;
	height: 100vh;
}
.tm-header{
	position: sticky;
	z-index: 2;
	top: 0;
	max-width: 1200px;
	margin: 0 auto;
	padding: 70px;
}
body{
	overflow-x: hidden;
	background: #3f403f;
	padding: 0px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

main{
	min-height: calc(100vh - 210.84px - 54px);
}
hr{
	border: 0;
	border-top: 4px solid yellow;
	margin: 20px 0;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	display: block;
	unicode-bidi: isolate;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: auto;
	margin-inline-end: auto;
}
.container{
	position: relative;
	background-color: #565656;

}
.container2{
	/*position: absolute;*/
}
.dav{
	padding: 0 auto;

}
.dav-item{
	justify-content:center;
	display: flex;
	width: 70%;
	margin: 0 auto;
	height: 610px;

}
.sudoku{
  margin-right:20px;
  width: 100%;
  height: 100%;
}

.image-container {
	position: relative;
  width: 40%;
  height: 100%;
}
.container{
	position: relative;
	background-color: #565656	;
}

.image-container::after {
	position: absolute;
	content: '';
	display: block;
	height: 40%;
	width: 40%;
	border-radius: 50%;
	bottom: -40px;
	left: -21px;
	background: url(../images/sticker2.jpg);
	z-index: 20;

}

.themes{
	width: 60%;
}

.serviceyellow{
	color: yellow;
	font-size: 30px;
}
.available{
	margin-left: 15px;
	color: white;
	font-size: 40px;
}
.servicewhite{
	color: white;
}
.made{
	color: white;
	font-size: 25px;
}
.maden{
	color: white;
	font-size: 25px;
}
.photo1{
	display: flex;
	justify-content: center;
}
.lastes{
	margin: 100px;
	/*width: 1000px;*/
	color: white;
	font-size: 35px;
}
.foot{
	display: flex;
	justify-content: center;
	color: white;
	width: 40%;
	margin:0 auto;
}

.feet{
	padding:0 15px;
	width: 100%;
	font-size: 17px;
   background: grey;
   border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: right;


}

.serviceoffice{
	margin-left: 15px;
}
.made{
	margin-left: 15px;
}
.maden{
	margin-left: 15px;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

@media(min-width: 600px) {
	.container2{
		font-size: 2px;
	}

}